.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,
h3,
h2,
h4 {
  color: white;
}
.dashboard-box {
  background-color: black;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 1rem 1rem;
  text-align: left;
}

.data-card {
  cursor: pointer;
}

.data-card-divider {
  width: 90%;
  height: 1px;
  background-color: white;
}

.data-card h3 {
  color: white;
  font-weight: 600;
}

.detail-card-component h4 {
  margin-top: 1rem;
}
.detail-card-component h3 {
  margin-bottom: 0;
}

.value-table{
  padding: 2rem 3rem;
}

hr{
  height: 1px;
  width: 3rem;
  background-color: grey;
  outline: none;
  border: none;
}

.input-box{
  margin-right: 3rem;
}
input{
  padding: .5rem;
}

